<nav class="navbar navbar-expand-lg px-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="assets/images/Logo.svg" alt="" class="img-fluid">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex header-search">
            <input #inputSearch=ngModel class="form-control me-2" 
            type="search" placeholder="Search" [(ngModel)]="searchkey"
            aria-label="Search" (ngModelChange)="navigateToHome()" name="searchkey" (focusout)="searchProducts()">
        </form>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
                <i class="fa fa-bookmark"></i>
                <span class="px-2">Wishlist</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-shopping-cart"></i>
                <span class="px-2">Cart</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<ul class="menu-items list-unstyled px-5 py-3 d-flex">
    <li class="menu-item pe-4">
        <a class="menu-link">Electronics</a>
    </li>
    <li class="menu-item px-4">
        <a class="menu-link">MOBILE</a>
    </li>
    <li class="menu-item px-4">
        <a class="menu-link">MEN</a>
    </li>
    <li class="menu-item px-4">
        <a class="menu-link">WOMEN</a>
    </li>
    <li class="menu-item px-4">
        <a class="menu-link">HOME</a>
    </li>
    <li class="menu-item px-4">
        <a class="menu-link">Beauty & Health</a>
    </li>
    <li class="menu-item px-4">
        <a class="menu-link">Baby & Toys</a>
    </li>
    <li class="menu-item px-4">
        <a class="menu-link">SuperMarket</a>
    </li>
    <li class="menu-item px-4">
        <a class="menu-link">Sell On Platform</a>
    </li>
    <li class="menu-item px-4">
        <a class="menu-link">New Deals</a>
    </li>
</ul>  
